<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Community | Pineapple</title>

        <link rel="stylesheet" type="text/css" href="stylesheets/create-community.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    <div class="header">
        <div class="website-name">
            <span class="webname"><a href="home">Pineapple </a></span><span class="logo"> </span>
        </div>

        <div class="tabs-container">
            <ul class="tabs">
                <li class="home"><a href="home">Home</a></li>
            </ul>
        </div>

        <div class="actions-container">            
            <div class="action-buttons">
                <ul class="actions">
                    <li class="profile">
                        <a href="profile">
                            <span class="material-symbols-outlined">
                                person
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="content-container">
        <form id="communityForm" action="/submit-community" method="post">
            <div class="contents">
                <h1>Create a Community</h1>
                <div>
                    <p>Name:</p>
                    <div class="title">
                        <label>#</label>
                        <input id="name" type="text" name="name" placeholder="Name">
                    </div>
                </div>
                
                <div>
                    <p>Description:</p>
                    <div class="description">
                        <input id="description" type="text" name="description" placeholder="Description">
                    </div>
                </div>
                
                <div class="buttons">
                    <button onclick="location.href = 'home'" type="button">Cancel</button>
                    <button onclick="return validateForm()" type="submit">Create</button>
                </div>    
            </div>
        </form>      
    </div>
    <script src="create-community.js"></script>
    <script>
        function validateForm() {
            var name = $("#name").val().trim();
            var description = $("#description").val().trim();

            if (name === '' || description === '') {
                alert("Please fill out both name and description fields.");
                return false;
            }

            return true;
        }
    </script>
</body>
</html>