@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

:root {
  font-family: 'SF Pro Display', sans-serif;    
  --dark: #111214;
  --light: #232428;
  --white: #F1F6F9;
  --border: #343536;
  --color: #1ED760;
  color: var(--white);
}

body {
  margin: 0;
}

hr {
  width: 250px;
}

.container {
  display: flex;
  height: 100vh; 
  color: var(--white);
}

.logo {
  display: inline-block;
  background-image: url('../images/logo.png');
  background-size: 44px 52px;
  height: 52px;
  width: 44px;
}


.leftside, .rightside {
  flex: 1; 
}

.leftside {
  background-color: var(--dark); 
  display: flex;
  justify-content: right; 
  align-items: top;
}

.rightside {
  background-color: var(--light); 
  display: flex;
  justify-content: center; 
  align-items: center;
}

.forumtitle {
	text-align: right;
	margin-right: 50px;
	margin-top: 140px
}

.forumname {
	font-size: 40px;
	margin-bottom: 20px;
}

.forumdesc {
	font-size: 20px;
	font-weight: 10x;
	margin-top: 20px;
}


.login {
  width: 80%; 
  text-align: left; 
}

.login-title {
	font-size: 35px;
	margin-top: 25px;
	margin-bottom: 5px;
}

.signup {
	font-size: 15px;
	font-weight: 10x;
	margin-bottom: 30px;
}

.signup-link {
	color: var(--white);
    text-decoration: underline; 
    cursor: pointer; 
}

.signup-link:hover {
	color: var(--color);
}

.login-input {
  margin-top: 20px;
}

.username-input, 
.password-input {
	font-size: 15px;
	font-weight: 10x;
}

.remember-label {
	font-size: 15px;
}

.button {
  background: none;
  border: none;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  padding: 5;
  background-color: var(--white);
  color: var(--light);
}
.button:hover {
  background-color: var(--color);
  color: var(--white);
}